# -------------- subSilver2 --------------
# SubSilver2 based style designed for the latest phpBB revision
name = subSilver2
copyright = 2017 gorski
style_version = 3.2.0
phpbb_version = 3.2.0

# Defining a different template bitfield
# template_bitfield = lNg=

# Parent style
# Set value to empty or to this style's name if this style does not have a parent style
parent =
