kbd {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0,0,0,.2),0 0 0 2px #fff inset;
    color: #333;
    display: inline-block;
    background: white;
    font-family: Consolas,Courier New,monospace;
    line-height: 1.4em;
    margin: 0 .1em;
        margin-top: 0px;
    padding: 0 .5em;
    text-shadow: 0 1px 0 #fff;
    white-space: nowrap;
}
.emoji.smilies {
    height: 32px;
    width: auto;
}
