<!-- EVENT attachment_file_before -->

<!-- BEGIN _file -->

	<!-- IF _file.S_DENIED -->
		[{_file.DENIED_MESSAGE}]<br />
	<!-- ELSE -->
		<!-- EVENT attachment_file_prepend -->

		<!-- IF _file.COMMENT -->
			<b>{L_FILE_COMMENT}{L_COLON}</b> {_file.COMMENT}<br />
		<!-- ENDIF -->

		<!-- IF _file.S_THUMBNAIL -->
			<a href="{_file.U_DOWNLOAD_LINK}"><img src="{_file.THUMB_IMAGE}" class="postimage" alt="[ attachment ]" title="" /></a><br />
			{_file.DOWNLOAD_NAME} [ {_file.FILESIZE} {_file.SIZE_LANG} | {_file.L_DOWNLOAD_COUNT} ]
		<!-- ENDIF -->

		<!-- IF _file.S_IMAGE -->
			<img src="{_file.U_INLINE_LINK}" class="postimage" alt="[ attachment ]" title="" /><br />
			{_file.DOWNLOAD_NAME} [ {_file.FILESIZE} {_file.SIZE_LANG} | {_file.L_DOWNLOAD_COUNT} ]
		<!-- ENDIF -->

		<!-- IF _file.S_FILE -->
			<a href="{_file.U_DOWNLOAD_LINK}">{_file.DOWNLOAD_NAME}</a> [{_file.FILESIZE} {_file.SIZE_LANG}]
			<br />{_file.L_DOWNLOAD_COUNT}
		<!-- ENDIF -->

		<!-- IF _file.S_FLASH_FILE -->
			<object classid="clsid:D27CDB6E-AE6D-11CF-96B8-444553540000" width="{_file.WIDTH}" height="{_file.HEIGHT}">
				<param name="movie" value="{_file.U_VIEW_LINK}" />
				<param name="play" value="true" />
				<param name="loop" value="true" />
				<param name="quality" value="high" />
				<param name="allowScriptAccess" value="never" />
				<param name="allowNetworking" value="internal" />
				<embed src="{_file.U_VIEW_LINK}" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" width="{_file.WIDTH}" height="{_file.HEIGHT}" play="true" loop="true" quality="high" allowscriptaccess="never" allownetworking="internal"></embed>
			</object>
			<br /><a href="{_file.U_DOWNLOAD_LINK}">{_file.DOWNLOAD_NAME}</a> [ {_file.FILESIZE} {_file.SIZE_LANG} | {_file.L_DOWNLOAD_COUNT} ]<br />
		<!-- ENDIF -->

		<!-- EVENT attachment_file_append -->
	<!-- ENDIF -->
<!-- END _file -->
<!-- EVENT attachment_file_after -->
