
	<!-- IF not S_PRIVMSGS or S_SHOW_DRAFTS -->	{S_FORM_TOKEN}</form><!-- ENDIF -->
<!-- IF not S_DISPLAY_HISTORY --></td></tr></table></td></tr></table><table width="100%" cellspacing="0"><tr><td width="19"></td><td></td><td width="19"></td></tr><tr><td width="19"></td><td><!-- ENDIF -->
<!-- IF (S_SHOW_PM_BOX or S_EDIT_POST) and S_POST_ACTION -->{S_FORM_TOKEN}</form><!-- ENDIF -->



<!-- INCLUDE breadcrumbs.html -->

<br clear="all" />

<div align="{S_CONTENT_FLOW_END}"><!-- INCLUDE jumpbox.html --></div>

<!-- INCLUDE overall_footer.html -->
